.QueryDetails {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #a7e3b1;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px auto;
    font-size: 20px;
    overflow: hidden;
    padding: 10px;
}

.QueryDetails .btnBack {
    height: 40px;
}

.QueryDetails img {
    width: 150px;
    margin: 20px;
}

.QueryDetails .name {
    font-size: 30px;
    margin-bottom: 10px;
}

.QueryDetails .author {
    color: gray;
}

.QueryDetails .deepLink {
    margin-top: 20px;
    cursor: pointer;
    color: orangered;
}

.QueryDetails .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.QueryDetails .flexContainerAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QueryDetails .markdown {
    overflow: hidden;
    margin: 10px 20px;
}
