.Pages {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.Pages ul {
    display: inline-block;
    background: lightsteelblue;
    padding: 10px;
    border-radius: 30px;
}

.Pages li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    border-radius: 30px;
    min-width: 20px;
    text-align: center;
}

.Pages li[class=active] {
    color: steelblue;
    font-weight: bold;
    background: white;
}

.Pages li.disabled {
    cursor: not-allowed;
    color: lightgray;
}