.QueryResult {
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f1f1f1;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    overflow: hidden;
    cursor: pointer;
}

.QueryResult img {
    width: 50px;
    margin: 20px;
    border-radius: 20px;
}

.QueryResult .author {
    color: gray;
    font-size: 14px;
}

.QueryResult .name {
    font-size: 18px;
    margin: 30px 20px 0px;
}
