.UserInput {
    position: relative;
    width: 30%;
    text-align: center;
    font-size: 20px;
    border: 2px solid #334444;
    border-radius: 20px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 4px 2px 1px #ab6754;
}

.UserInput input {
    width: 80%
}

.UserInput .warning {
    font-size: 12px;
    color: orange;
    margin-top: 5px;
}