.QueryMessage {
    position: fixed;
    right: -30px;
    top: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 50px 10px 10px;
    text-align: right;
    box-shadow: 1px 1px 1px black;
    transition: all 0.1s ease-out;
}

.QueryMessage.danger {
    background: lightcoral;
    color: darkred;
    font-weight: bold;
}

.QueryMessage.alert {
    background: lightgoldenrodyellow;
    color: darkorange;
}